.genel{
width:100%;
height:auto; 
margin:0 auto;
}
.ust{
	width:100%;
	height:80px;
	background:#333;
}
.logo img{
	width:200px;
	height:70px;
	margin-left: 10px;
	margin-top: 5px;
	border-radius: 10px;
	float:left;
}
.menu{
	width: 500px;
	height: 60px;
	float: left;
	margin-top: 15px;
	margin-left: 500px;
}
.menu ul li{
	float:left;
	list-style-type:none;
	padding: 10px;
	font-size:24px;
	line-height: 10px;
}
.menu ul li a{
	color:#FFF;
	text-decoration: none;	
}
.menu ul li a:hover{
	color:#000;
}
.icon{
	width: 80px;
	height:40px;
	float:right;
	margin-right: 200px;
	margin-top: 10px;
}
.icon img{
	width: 40px;
	height: 40px;
	float:left;
}
.icerik{
	width:100%;
	height:-250px;
}
.balik img{
	width:100%;
	height:500px;
}
.giris h1{
	color:#000;
	font-size:36px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.hakkimizda{
	float: right;
	width: 200px;
	height: 50px;
	margin-right:750px;
	font-size:24px;
}
.iletisim{
	float: right;
	width: 200px;
	height: 50px;
	margin-right:1200px;
	font-size:24px;
	clear:both;
	margin-top:-100px;
}
.galeri{
	float: right;
	width:400px;
	height:auto;
	margin-right:100px;
	margin-top:-65px;
}
.galeri img{
	width:100px;
	height:100px;
}
.duyurular{
	float:right;
	background:#CCC;
	width:300px;
	height:500px;
	margin-right:650px;
	margin-top:-50px;
}
.duyurular h1{
	text-align:center;
	color:#000;
}
.duyuru-icerik{
	width:250px;
	height:400px;
	background:#FFF;
	margin-left:20px;
}
.alt{
	width:100%;
	height:150px;
	background:#FFF;
	margin-top:550px;
	text-align:center;
}